# Entornos virtuales
venv/
backend/venv/
env/

# Python
__pycache__/
*.pyc

# Base de datos local
*.sqlite3
db.sqlite3

# Node / React
node_modules/
build/
dist/
frontend/build/
frontend/release/

# Django empaquetado
backend/build/
backend/dist/
backend/staticfiles/

# Config sensible
.env

# Editor / Sistema
.vscode/
.DS_Store
Thumbs.dbdb.sqlite3
pruebas_local.bat
p.txt
e.txt
cookies*.txt
encargado*.txt
venv/
venv313/
